@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=DynaPuff:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FEFCF0;
  color: #5D4037;
  font-family: 'Balsamiq Sans', cursive;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DynaPuff', cursive;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #FEFCF0;
}

::-webkit-scrollbar-thumb {
  background: #FFD700;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E6C200;
}